/* VARIABLES */
:root {
    --background: hsla(151, 100%, 37%, 0.8);
    --text-shadow: 0.2rem 0.2rem rgba(55, 55, 55, 0.2);
    --section-margin-bottom: 5rem;
    --text-margin-bottom: 2rem;
    --text-color: rgb(255, 255, 255);
    --title-text-color: rgb(39, 35, 35);
  }
  
  /* COMMON */
  * {
      box-sizing:border-box;
      margin: 0;
      padding: 0;
      font-size: 1em;
      font-family: 'Inter', sans-serif;
      text-align: center;
      color: var(--text-color);
  }
  
  .title {
      font-size: 2.5rem;
      text-shadow: var(--text-shadow);
      margin-bottom: var(--text-margin-bottom);
      color: var(--title-text-color);;
  }
  
  #logo {
    font-size: 5rem;
    margin-left: var(--text-margin-bottom);
    color: var(--text-color);
  }
  
  .btn {
    width: 15rem;
    height: 4rem;
    font-size: 2rem;
    border-radius: 0.75rem;
    box-shadow: 0.75rem 0.75rem rgba(0,0,0,0.5);
    font-weight: 600;
  }
  
  a {
    text-decoration: none;
    color: var(--title-text-color);
  }
  
  a:visited {
    color: var(--title-text-color);
  }
  
  
  /* HEADER */
  
  header {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--background);
    margin-bottom: var(--section-margin-bottom);
    align-items: center;
  }
  
  #btn-participate-header {
    margin-right: 5rem;
    color: var(--title-text-color);
    background-color: var(--text-color);
    border: 0.2rem solid var(--text-color);
  }

  /* ONG */
  .ong-card {
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 4rem;
  }
  
  .ong-img {
    width: 60%;
    height: auto;
    justify-content: center;
    margin-bottom: 2rem;
    margin-left: 2rem;
  }

  ul {
    width: fit-content;
    color: black;
    font-size: 1.75rem;
    margin-right: 2rem;
  }

  li {
    margin-top: 1rem;
    color: black;
    text-align: left;
  }



/* FOOTER */

footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color:var(--background);
  }
  .social-midia {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .social-media-icons {
    padding: 1rem;
  }