/* VARIABLES */
:root {
  --background: hsla(151, 100%, 37%, 0.8);
  --text-shadow: 0.2rem 0.2rem rgba(55, 55, 55, 0.2);
  --section-margin-bottom: 5rem;
  --text-margin-bottom: 2rem;
  --text-color: rgb(255, 255, 255);
}
  
/* COMMON */
* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: 'Inter', sans-serif;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  text-shadow: var(--text-shadow);
  margin-bottom: var(--text-margin-bottom);
}

#logo {
font-size: 5rem;
margin-left: var(--text-margin-bottom);
color: var(--text-color);
}

.btn {
border-radius: 0.75rem;
}

a {
text-decoration: none;
}

a:visited {
color: var(--text-color);
}

/* HEADER */

header {
width: 100%;
background-color: var(--background);
align-items: center;
}


/* PROFILE */

#profile-img {
  max-height: 10rem;
  max-width: 10rem;
  margin-bottom: 1rem;
}

.btn {
  width: 12rem;
  height: 2.5rem;
  font-size: 1.5rem;
  border-radius: 0.75rem;
  color: var(--text-color);
  background-color: var(--background);
  border: 0.2rem solid var(--background);
  margin-bottom: var(--text-margin-bottom);
}


.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#btn-profile-change {
  align-self: center;
  height: 2.5rem;
  width: 8rem;
  font-size: 1.25rem;
  box-shadow: none;
  font-weight: bold;
  margin-bottom: 2rem;
}

#range-text {
margin-bottom: 1rem;
}

.profile {
  display: flex;
  flex-direction: column;
}


#profile-img {
  height: 36rem;
}

.profile-card {
  width: fit-content;
  font-size: 1.75rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 1rem;
  margin-bottom: 2rem;
  padding-left: 8rem;
  padding-top: 2rem;
  padding-right: 8rem;
  padding-bottom: 2rem;
}

.profile-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

p {
  text-align: center;
  margin-bottom: 1rem;
}

#delete {
  display: inline-flex;
  align-items: center; 
  background-color: rgb(219, 30, 30);
  font-size: 2rem;
  width: fit-content;
  padding: 1.5rem;
  border: none;
  font-weight: bold;
}

#range {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

iframe {
  width: 30rem;
  height: 20rem;
  margin-bottom: 4rem;
}
  
  
  /* FOOTER */
  
  footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color:var(--background);
    width: 100%;
  }
  .social-midia {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .social-media-icons {
    padding: 1rem;
  }